/* app CSS styles */


.tab-bar{
    background-color: #5F2D8C;
}
.left-off-canvas-menu{
    background-color: #5F2D8C;
}
.diana {
  margin-top:50px;
  width:100%;
} 
.dianalogo{
	float:left;
	height:45px;
	margin-right: 10px;
}
.grid {
  background-image: url("../img/grid.png");
} 

img.thing {
  position: absolute;
  right:0;
  bottom:0;
}
.button {
    background-color: #5F2D8C;
	border-color: #462065;
	color: white;
}
.button:hover, .button:focus {
	background-color: #462065;
}
.full-background{
    min-height: 100%;
}
header h2 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	padding-top: .4em;
}
.top-bar{
    background-color: #5F2D8C;
}
nav h1{
    color:white;
}

h1, h2, h3, h4, h5, h6 {
	color: #6363CE;
}

