/* custom CSS styles */
html, body, .off-canvas-wrap, .inner-wrap
{
  height: 100%;
  min-height: 500px;
}

/* Orbit Container */
.orbit-container {
  width: 100%;
  height: 100%;
}

.orbit-slides-container {
  width: 100%;
  height: 100% !important;
}
ul[data-orbit] li {
  width: 100%;
  height: 100%;
  background-size: cover;
}
.slide1 {
  background: url("../img/P1310960.JPG") no-repeat center;
} 
.slide2 {
  background: url("../img/IMG_2372.JPG") no-repeat center;
} 
.slide3 {
  background: url("../img/P1320136.JPG") no-repeat center;
} 
.slide4 {
  background: url("../img/IMG_2390.JPG") no-repeat center;
} 
.dianalogo{
	float:left;
	height:45px;
	margin-right: 10px;
}
/* Animation from Animate.CSS */

.animated {
      -webkit-animation-duration: 2s;
	  -webkit-animation-fill-mode: both;
	  animation-fill-mode: both;
	  animation-duration: 2s;
}

.animated-button {
	  -webkit-animation-delay: 3.5s; /* Animation delay */
	  -moz-animation-delay: 3.5s;
  	-o-animation-delay: 3.5s;
  	animation-delay: 3.5s;
  	-webkit-animation-duration: 2s; /* Animation duration */
  	-webkit-animation-fill-mode: both;
  	animation-duration: 2s;
  	animation-fill-mode: both;
}

/* SlideInDown */

@-webkit-keyframes slideInDown {
  0% {
  opacity: 0;
  -webkit-transform: translateY(-2000px);
  transform: translateY(-2000px);
}

  100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
  opacity: 0;
  -webkit-transform: translateY(-2000px);
  -ms-transform: translateY(-2000px);
  transform: translateY(-2000px);
  }

  100% {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

/* SlideInLeft */

@-webkit-keyframes slideInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translateX(-2000px);
  transform: translateX(-2000px);
  }

  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
}

@keyframes slideInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translateX(-2000px);
  -ms-transform: translateX(-2000px);
  transform: translateX(-2000px);
  }

  100% {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

/* FadIn */

@-webkit-keyframes fadeIn {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
  opacity: 0;
  }

  100% {
  opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.tab-bar{
    background-color: #5F2D8C;
}
.left-off-canvas-menu{
    background-color: #5F2D8C;
}

/*div overlay text over image landing page*/
.lands{
    background:black;
    opacity:0.6;
}
.landing-page h1
.landing-page h2{
    color: white;
    background:black;
}
/*#home-img {
    background-image: url( "http://diana.foxinitiatives.com/img/IMG_2390.JPG" );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100% !important;
    height: 100%;
    z-index: 0;
}*/
.home-img{
    background: url('http://www.hiphoprepublican.com/wp-content/uploads/2013/06/New-York-City-Sun.jpg') no-repeat center;
}
.button {
	background-color: #5F2D8C;
	border-color: #462065;
	color: white;
}
.button:hover, .button:focus {
	background-color: #462065;
}
.full-background{
    min-height: 100%;
}
header h2 {
	font-family: Georgia, serif;
	font-style: italic;
	font-weight: normal;
	padding-top: .4em;
}
.top-bar{
    background-color: #5F2D8C;
}
nav h1{
    color:white;
}

h1, h2, h3, h4, h5, h6 {
	/*color: #5F2D8C;*/
    color:white;
}





